/* body {
  background-color: #ffffff;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
} */
.section-heading--box .heading--text h3 {
  font-size: 36px;
  font-weight: 400;
}
.section-heading--box .heading--button .testimonial-btn {
  background-color: #156192;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
.wrapper {
  padding: 30px 0;
  overflow-x: hidden;
}
.credit-slider,
.forex-slider,
.ecommerce-slider {
  padding: 0 70px;
  position: relative;
}
.credit-slider iframe,
.forex-slider iframe,
.ecommerce-slider iframe {
  border-radius: 5px;
}
.slick-initialized .slick-slide {
  color: #fff;
  margin: 0 15px 0 0;

  background: rgba(0, 0, 0);

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.slick-slide iframe {
  height: 503px;
}
.slick-slide .user-details {
  position: absolute;
}
.slick-slide .user-details h4 {
  font-weight: 400;
  font-size: 16px;
}
.slick-arrow {
  background-color: transparent;
  border: none;
  padding: 0;
}
.credit-slider-buttons,
.forex-slider-buttons,
.ecommerce-slider-buttons {
  z-index: 5;
  position: absolute;
  right: 200px;
}
.credit-next,
.forex-next,
.ecommerce-next {
  left: 60px;
}
.credit-prev,
.forex-prev,
.ecommerce-prev {
  left: 0;
}
.credit-prev:before,
.forex-prev:before,
.ecommerce-prev:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("img/back.png") no-repeat;
}
.credit-next:before,
.forex-next:before,
.ecommerce-next:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("img/next.png") no-repeat;
}
.wrapper2 {
  padding: 30px 0;
  overflow-x: hidden;
}
.credit-screenshots-slider,
.forex-screenshots-slider,
.ecommerce-screenshots-slider {
  padding: 0 70px;
  position: relative;
}
.credit-screenshots-slider iframe,
.forex-screenshots-slider iframe,
.ecommerce-screenshots-slider iframe {
  border-radius: 5px;
}
.credit-screenshots-slider-buttons,
.forex-screenshots-slider-buttons,
.ecommerce-screenshots-slider-buttons {
  z-index: 5;
  position: absolute;
  top: 45vh;

  display: flex;
}
.credit-screenshots-slider-buttons button,
.forex-screenshots-slider-buttons button,
.ecommerce-screenshots-slider-buttons button {
  background-color: transparent;
  border: 0;
}
.credit-screenshots-next,
.forex-screenshots-next,
.ecommerce-screenshots-next {
  top: 20vh;
  left: auto;
}
.credit-screenshots-prev,
.forex-screenshots-prev,
.ecommerce-screenshots-prev {
  left: 0;
  margin-right: 24rem;
}
.credit-screenshots-prev:before,
.forex-screenshots-prev:before,
.ecommerce-screenshots-prev:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("img/back2.png") no-repeat;
}
.credit-screenshots-next:before,
.forex-screenshots-next:before,
.ecommerce-screenshots-next:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("img/next2.png") no-repeat;
}
.modal .modal-dialog {
  position: relative;
}
.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: transparent;

  position: absolute;
  left: 80%;
  top: 2%;
  z-index: 5;
}
.modal .modal-dialog .modal-content .close {
  background-color: #ffffff;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog .modal-content .close span {
  color: black;
  font-size: 33px;
}
