body {
  background-color: #ffffff;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
.section-heading--box .heading--text h3 {
  font-size: 36px;
  font-weight: 400;
}
.section-heading--box .heading--button .testimonial-btn {
  background-color: #156192;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
.wrapper {
  padding: 30px 0;
  overflow-x: hidden;
}
.my-slider {
  padding: 0 70px;
  position: relative;
}
.my-slider iframe {
  border-radius: 5px;
}
.slick-initialized .slick-slide {
  background: transparent;
  color: #fff;
  margin: 0 15px 0 0;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.slick-slide iframe {
  height: 503px;
}
.slick-slide .user-details {
  position: absolute;
}
.slick-slide .user-details h4 {
  font-weight: 400;
  font-size: 16px;
}
.my-slider-buttons {
  z-index: 5;
  position: absolute;
  right: 200px;
}
.slick-next {
  left: 60px;
}
.slick-prev {
  left: 0;
}
.slick-prev:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('img/back.png') no-repeat;
}
.slick-next:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('img/next.png') no-repeat;
}
.wrapper2 {
  padding: 30px 0;
  overflow-x: hidden;
}
.screenshots-slider {
  padding: 0 70px;
  position: relative;
}
.screenshots-slider iframe {
  border-radius: 5px;
}
.screenshots-slider-buttons {
  z-index: 5;
  position: absolute;
  /* right: 200px; */
  top: 40vh;

  display: flex;
  /* justify-content: space-between; */
}
.screenshots-slider-buttons button {
  background-color: transparent;
  border: 0;
}
.slick-next2 {
  top: 20vh;
  left: auto;
}
.slick-prev2 {
  left: 0;
  margin-right: 24rem;
}
.slick-prev2:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('img/back2.png') no-repeat;
}
.slick-next2:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('img/next2.png') no-repeat;
}
.modal .modal-dialog {
  position: relative;
}
.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: transparent;

  position: absolute;
  left: 81%;
  top: 3%;
  z-index: 5;
}
.modal .modal-dialog .modal-content .close {
  background-color: #ffffff;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog .modal-content .close span {
  color: black;
  font-size: 33px;
}
