body {
  background-color: #ffffff;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
.wrapper {
  padding: 30px 0;
  overflow-x: hidden;
}
.my-slider {
  padding: 0 70px;
  position: relative;
}
.my-slider iframe {
  border-radius: 5px;
}
.slick-initialized .slick-slide {
  background: transparent;
  color: #fff;
  height: 503px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-heading--box .heading--text h3 {
  font-size: 36px;
  font-weight: 400;
}
.section-heading--box .heading--button button {
  background-color: #156192;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
.my-slider-buttons {
  z-index: 5;
  position: absolute;
  right: 200px;
}
.slick-next {
  left: 60px;
}
.slick-prev {
  left: 0;
}
.slick-prev:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('img/back.png') no-repeat;
}
.slick-next:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('img/next.png') no-repeat;
}
